[Unit]
Description=ShadowsocksR

[Service]
Type=forking
ExecStart=/usr/local/shadowsocks/server.py -c /etc/shadowsocks.json -d start
ExecStop=/usr/local/shadowsocks/server.py -c /etc/shadowsocks.json -d stop
ExecRestart=/usr/local/shadowsocks/server.py -c /etc/shadowsocks.json -d restart
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=multi-user.target
Alias=ssr.target